{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getLanguage ?: 'en' }}">
<head>
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>
    {% include 'partials/metadata.html.twig' %}
    <link rel="icon" type="image/png" href="{{ url('theme://assets/images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://assets/css/style.css', 103) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
{#         {% do assets.addJs('jquery', 101) %}  #}
        {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', 100) %}
        {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/what-input/4.2.0/what-input.min.js') %}
        {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js') %}
        {% do assets.addJs('theme://assets/js/theme.js') %}
        {% do assets.addJs('theme://assets/js/hide_scroll_down.js') %}
    {% endblock %}
    {{ assets.js() }}
{% endblock head %}
</head>
<body>
<div class="off-canvas-wrapper">
    <div data-off-canvas-wrapper class="off-canvas-wrapper-inner">
<!-- Top bar -->
{% include 'partials/top_bar.html.twig' %}
<!-- Top bar -->
<!-- Content -->
{% block content %}{% endblock %}
<!-- Content -->
<!-- Footer -->
{% include 'partials/footer.html.twig' %}
<!-- Footer -->
    </div>
</div>
</body>
 <script>
    $(document).foundation();
  </script>
</html>
