
<footer id="footer">
    <div class="row">
        <p><a href="http://getgrav.org">Grav</a> was <i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by <a href="http://www.zen-geeks.com">zen-geeks</a>.</p>
    </div>
</footer>
