{% if header.description %}
    <meta name="description" content="{{ header.description }}">
{% else %}
    <meta name="description" content="{{ site.description }}">
{% endif %}
        {% if header.robots %}
            <meta name="robots" content="{{ header.robots }}">
        {% endif %}