<!-- Nav -->
<nav data-responsive-toggle="widemenu" data-hide-for="large" class="title-bar scrollhide-nav">
    <div class="title-bar-left">
        <button type="button" data-open="offCanvas" class="menu-icon"></button>
        <span class="title-bar-title">
        <a href="{{ base_url == '' ? '/' : base_url }}" class="mobile-logo">{{ config.site.title }}</a>
    </span>
    </div>
</nav>
<nav id="offCanvas" data-off-canvas class="off-canvas position-left">
    <div class="offcanvas-logo"><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></div>
    <button aria-label="Close menu" type="button" data-close class="close-button">
        <span aria-hidden="true">&times;</span>
    </button>
    <ul id="mobile-menu" data-drilldown class="vertical menu">
        {% for page in pages.children %}
            {% if page.visible %}
                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
<nav id="widemenu" class="top-bar scrollhide-nav">
    <div class="top-bar-title">
        <div class="logo"><a href="{{ base_url == '' ? '/' : base_url }}">{{ config.site.title }}</a></div>
    </div>
    <div class="top-bar-left">
        <ul id="main-menu" data-dropdown-menu class="dropdown menu">
            {% for page in pages.children %}
                {% if page.visible %}
                    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                    <li class="{{ current_page }}"><a href="{{ page.url }}">{{ page.menu }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><input type="search" placeholder="Search"></li>
            <li><button type="button" class="button">Search</button></li>
        </ul>
    </div>
</nav>
