//  Style for Sites
//  -----------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Header (Top Bar)
//   3. Hide Header on on scroll down
//   4.
//   5.
//   6.
//   7.
//   8.
//   9.
//  10.
//  11.
//  12.
//  13.
//  14.
//  15.
//  16.
//  17.
//  18.
//  19.
//  20.
//  21.
//  22.
//  23. Footer
@import "theme-settings";
@import "foundation6";
@import '../../node_modules/font-awesome/scss/font-awesome';
.btn {
  @extend .button;
}
body{
  padding-top: 3.5rem;
}
p {
  font-family: Helvetica, san-serif;
  font-size: 1.25rem;
  line-height: 1.8;
  margin-bottom: 1.3rem;
}

@media screen and (max-width: 39.9375em) {
  p {
    font-size: 0.95rem;
    line-height: 1.5;
  }
}

h1, h2, h3, h4 {
  font-weight: inherit;
  margin: 1.414em 0 0.25em;
}

h1 {
  font-family: Helvetica, san-serif;
  font-size: 5.063rem;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1.1em;
  margin-top: 0;
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  h1 {
    font-size: 3.2rem;
    line-height: 1.2em;
  }
}

@media screen and (max-width: 39.9375em) {
  h1 {
    font-size: 2.5rem;
    line-height: 1em;
  }
}

h2, .page-section-title {
  font-family: Helvetica, san-serif;
  font-size: 3.375rem;
  font-weight: 600;
  letter-spacing: -2px;
  line-height: 1.2em;
  margin: 0;
  margin-bottom: 2rem;
}

@media screen and (max-width: 39.9375em) {
  h2, .page-section-title {
    font-size: 2.5rem;
  }
}

h3 {
  font-family: Helvetica, san-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.3em;
  margin: 0;
}

@media screen and (max-width: 39.9375em) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-family: Helvetica, san-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.4em;
  margin: 0;
}

@media screen and (max-width: 39.9375em) {
  h4 {
    font-size: 1.1rem;
    line-height: 1.5em;
  }
}

h5 {
  font-family: Helvetica, san-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}

@media screen and (max-width: 39.9375em) {
  h5 {
    font-size: 1rem;
  }
}

h6 {
  font-family: Helvetica, san-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
}

@media screen and (max-width: 39.9375em) {
  h6 {
    font-size: 0.85rem;
  }
}

/*//   2. Header (Top Bar)        */
///////////////////////////////////

.top-bar, .top-bar ul {
  background-color: #121416;

  #main-menu {
    li > a {
      color: #ddd;
      font-weight: bold;

      &:hover, &:focus {
        color: #fff;
      }
    }
    .active > a {
      background: #232323;
      color: #fff;
      font-weight: bold;
    }
  }
}

.top-bar-title {
  padding: 0;
  margin-right: 25px;
  padding-right: 15px;
  font-weight: bold;

  a {
    color: white;
    opacity: 0.75;
    transition: all .25s ease-in-out;
    &:hover, &:focus {
      color: #fff;
      opacity: 1;
    }
  }

}
.offcanvas-logo  {
  padding: .7rem 1rem;
  font-weight: bold;

  a {
    color: white;
    font-size: 1.125rem;
    font-weight: 600;
    opacity: 0.75;
    transition: all .25s ease-in-out;
    &:hover, &:focus {
      color: #fff;
      opacity: 1;
    }
  }
}
.title-bar-left {
  padding: 0;
  margin-right: 25px;
  padding-right: 15px;
  font-weight: bold;

  a {
    color: white;
    opacity: 0.75;
    transition: all .25s ease-in-out;
    &:hover, &:focus {
      color: #fff;
      opacity: 1;
    }
  }

}


/* If you want to use the offcanvas menu you need this css block */
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
/*//   2. Header (Top Bar)  End   */
///////////////////////////////////

/*//   3. Hide Header on on scroll down            */
////////////////////////////////////////////////////
$scrollhide-nav-transition-speed: 1s;

.scrollhide-nav {
  position: fixed;
  z-index: 11;
  right: 0;
  top: 0;
  left: 0;
  transition: transform $scrollhide-nav-transition-speed cubic-bezier(0.86, 0, 0.07, 1);

  &.hidden {
    transform: translateY(-100%);
  }
}
/*//   3. Hide Header on on scroll down   End     */
///////////////////////////////////////////////////
/*//   23. Footer                 */
///////////////////////////////////
footer {
  padding-top: 3rem;
  background-color: #121416;
  color: whitesmoke;
}
/*//   23. Footer  End            */
///////////////////////////////////